.add-item
  display flex
  padding 20px 0px

  input
    flex 1
    min-height 1em
    padding 5px 0
    margin-top -5px
    background-color transparent
    border none
    font-size 1em
    box-shadow none
    -webkit-appearance none

    &:focus,
    &:active
      outline none
      box-shadow none
      border none
      -webkit-appearance none

  .fa-plus
    flex 0 0 auto
    color #aaa

.add-item.hidden
  opacity 0
  pointer-events none
