.add-list

  input
    background-color transparent
    border none
    font-size 1em
    box-shadow none
    -webkit-appearance none

    &:focus,
    &:active
      outline none
      box-shadow none
      border none
      -webkit-appearance none

  .fa-plus
    color #aaa
