.lists-wrap
  flex 1
  margin 0
  display flex
  flex-wrap nowrap
  padding 0
  list-style none
  background-color #efefef
  align-self stretch
  overflow hidden
  overflow-x scroll

  .list
    flex 1
    box-sizing border-box
    padding 10px 0
    margin 0
    border-right 1px solid #ddd
    max-width 23vw
    min-width 23vw
    display flex
    flex-direction column
    user-select none

    &:first-of-type
      margin-left 38.5vw

    &:last-of-type:after
      content " "
      width 61.5vw
      height 1px


    @media (max-width: 1200px)
      max-width 31.33vw
      min-width 31.33vw

      &:first-of-type
        margin-left 34.35vw

      &:last-of-type:after
        content " "
        width 65.65vw
        height 1px

    @media (max-width: 900px)
      max-width 46vw
      min-width 46vw

      &:first-of-type
        margin-left 27vw

      &:last-of-type:after
        content " "
        width 73vw
        height 1px

    @media (max-width: 600px)
      max-width 93vw
      min-width 93vw

      &:first-of-type
        margin-left 3.5vw

      &:last-of-type:after
        content " "
        width 96.5vw
        height 1px

    .list-header
      position relative
      height auto
      display flex
      flex-wrap wrap
      padding 10px
      justify-content space-between

      .bar
        width 100%
        display flex
        justify-content space-between

        .toggle-list-menu
          color color3
          line-height 24px
          flex 0 0 1

          &:hover
            cursor pointer

      .list-menu
        z-index 999
        list-style none
        padding 0
        margin 0
        margin-top 10px
        background-color #efefef
        width 100%
        display none

        li
          background-color color3
          padding 10px
          color #fff
          margin-bottom 5px
          transition 100ms ease-in

          &:hover
            background-color color5
            cursor pointer
            transition 100ms ease-in

          &:hover .fa
            padding-right 15px
            transition 100ms ease-in

          .fa
            padding-right 5px
            transition 100ms ease-in



    .list-items-wrap
      overflow scroll
      padding 0 10px
      margin-top 10px
      opacity 1
      transition 200ms ease-in

      .list-items
        list-style none
        overflow visible

        .item
          background-color #fff
          padding 0px
          margin-top 5px
          margin-bottom 5px
          font-weight 300
          transition 200ms ease-in
          display flex

          p
            flex 1
            padding 10px
            font-size 1em
            font-weight 300
            animation itemSuccess 750ms both

          form
            display none
            flex 1

            input
              flex 1
              padding 10px
              padding-left 5px
              margin-left 5px
              border none
              font-size 1em
              font-weight 300
              width 100%

              &:focus
                box-shadow none
                border none
                -webkit-appearance none
                outline none
                background-color transparent
                padding-bottom 3px
                margin-bottom -3px
                border-bottom 1px solid color3

          &:hover
            margin-top 15px
            margin-bottom 15px
            transition 200ms ease-in

          &:first-of-type
            margin-top 0

          &:first-of-type:hover
            margin-top 0

          &:last-of-type
            margin-bottom 0

          &:last-of-type:hover
            margin-bottom 0

          .trash-item
            flex 0 0 auto
            background-color transparent
            padding 12px
            color #aaa
            font-size 14px
            opacity 0
            transition 200ms ease-in

            &:hover
              cursor pointer
              color red

          &:hover .trash-item
            opacity 1
            transition 200ms ease-in

  .add-list-wrap
    border none
    padding 20px
