.toggle-list-menu
  color color3
  line-height 24px

.list-menu
  position absolute
  list-style none
  padding 0
  margin 0
  top 44px
  right 0
  background-color color5
  display none

  li
    padding 10px 20px
    color #fff
