.nav
  box-sizing border-box
  flex 0 0 auto
  background-color color5
  color #111
  padding 5px 10px
  display flex
  justify-content space-between

  .simplists
    text-transform lowercase

    img
      max-height 35px

  @media (max-width: 600px)
    padding 5px 10px

#login-buttons
  position static
