.nav
  box-sizing border-box
  flex 0 0 auto
  background-color color1
  color color4
  padding 10px 20px
  display flex
  justify-content space-between

  .simplist
    text-transform lowercase


#login-buttons a
  text-decoration none
