.preloader
  background-color rgba(0,0,0,0.9)
  color #ddd
  position fixed
  top 89px
  left 0
  right 0
  bottom 0
  display none
  z-index 9999

  @media (max-width: 600px)
    top 79px

  .fa
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
