.preloader
  background-color #35BA6B
  opacity 1
  color #fff
  position fixed
  top 60px
  left 25vw
  right 0
  bottom 0
  display none
  z-index 99999

  @media (max-width: 1400px)
    left 33.33vw

  @media (max-width: 600px)
    top 0px
    left 0


  .fa
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
