.view-header
  padding 0px 10px
  min-height 60px
  background-color #fff
  flex 0 0 auto
  margin 0
  position relative
  display flex
  align-items stretch
  justify-content flex-start

  .spacer
    flex 1

  .toggle-menu
    flex 1
    min-width 100%
    max-width 100%
    min-height 60px
    max-height 60px
    margin auto 0
    padding 0
    display flex
    justify-content space-between

    .fa
      font-size 20px


    ul
      margin-right -5px
      list-style none
      display flex
      flex 1
      justify-content flex-start

      li
        flex 0 0 auto
        margin auto 5px
        color #111
        font-weight 300
        display flex
        align-items center
        justify-content flex-start

        &:hover
          cursor pointer

        i
          margin 0
          padding 0
          margin-left -5px


        @media (max-width: 600px)
          display block

      .header-action
        background-color rgba(0,0,0,0.1)
        width 40px
        height 40px
        transition 200ms ease-in

        .fa
          margin auto

        &:hover
          color #fff
          background-color rgba(0,0,0,0.6)
          transition 100ms ease-in


    @media (max-width: 600px)
      display block

    .spacer
      flex 1

    .header-menu
      flex 0 0 auto
      margin-left 5px
      margin-right 0

      .logo
        max-height 60px
        padding 15px
        padding-left 0px

        box-sizing border-box

    .view-title
      margin auto 0
      padding 0
      color #111
      font-size 28px
      font-weight 700
