.view-nav
  position absolute
  top 60px
  bottom 0
  width 25vw
  background-color #fff
  min-height 600px
  z-index 111
  // z-index 999
  padding 20px
  margin 0
  box-sizing border-box
  transition 150ms ease-in
  animation-name fadeIn
  animation-duration 500ms
  animation-fill-mode both

  @media (max-width: 1400px)
    width 33.33vw


  @media (max-width: 600px)
    top 0px
    z-index 9999
    width 70vw
    padding 10px 10px


  .add-list
    flex 0 0 auto
    margin 0
    margin-top 20px
    margin-bottom 20px
    position relative
    border 1px solid #ddd
    padding 10px

    @media (max-width:600px)
      display none

    input
      margin 0
      background-color #fff
      padding 5px
      padding-left 10px
      color #000
      box-sizing border-box
      min-width 100%
      max-width 100%
      font-size 1em
      border-radius 30px
      border none
      outline none

    button.submitList
      background-color transparent
      color #ddd
      border none
      position absolute
      right 20px
      top 50%
      transform translate(0,-50%)
      outline none

      &:hover
        cursor pointer
        color #111

      span
        margin-left 5px

  .mobile-menu
    display none

  .desktop-menu
    .tags-list-title
      color #111
      margin 0
      padding 0
      margin-top 20px
      margin-bottom 0

      @media (max-width: 600px)
        color #ddd
        margin-top 0

    .tags-list
      list-style none
      margin 10px 0
      padding 0

      @media (max-width:600px)
        margin-top 20px

      li
        margin-bottom 10px
        padding 0px

        a
          display block
          box-sizing border-box
          padding 20px
          font-size 1.2em
          font-weight 700
          background-color #efefef
          color #111
          text-decoration none
          transition 200ms ease-in

          .fa
            margin-right 5px

          &:hover
            transition 200ms ease-in
            background-color color5
            padding-left 40px
            color #fff


@keyframes fadeIn
  0%
    opacity 0
    transform translate(-100%)

  100%
    opacity 1
    transform translate(0)



@keyframes fadeOut
  0%
    opacity 1
    transform translate(0)

  100%
    opacity 0
    transform translate(-50vw)

.view-nav.hidden
  animation-name fadeOut
  animation-duration 500ms
  animation-fill-mode both

.view-nav.mobile
  animation none
  opacity 1
  transform translate(-100%)

.view-nav-mobile-backdrop
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 99
  display none
  background-color rgba(0,0,0,0.5)

.view-nav.mobile.active
  transform translate(0)



.view-nav.bg
  background-color color2
