.view-nav
  position absolute
  top 91px
  bottom 0
  width 38.5vw
  background-color rgba(0,0,0,0.2)
  min-height 600px
  z-index -1

  @media (max-width: 1400px)
    width 34.35vw

  @media (max-width: 900px)
    width 50vw

  @media (max-width: 600px)
    top 82px
    width 70vw
    display none
