.view-header
  padding 10px 20px
  background-color color2
  flex 0 0 auto
  margin 0

  display flex
  align-items stretch

  .spacer
    flex 1

  .toggle-menu
    flex 0 0 1
    margin auto
    padding 0

    .fa
      color #fff

    &:hover
      cursor pointer

  .view-title
    flex 0 0 auto
    display inline-block
    text-align left
    margin auto 20px
    padding 0
    color #fff
    font-weight 100

  .add-list
    padding 0
    margin auto
    position relative

    input
      margin auto
      background-color rgba(0,0,0,0.2)
      padding 7px 15px
      color #fff
      min-width 33vw
      max-width 100%
      font-size 1em
      border-radius 30px
      border none
      outline none

    button.submitList
      background-color transparent
      color #ddd
      border none
      position absolute
      right 10px
      top 50%
      transform translate(-50%,-50%)
      outline none
