.view-header
  padding 0px 20px
  min-height 50px
  background-color color2
  flex 0 0 auto
  margin 0
  position relative
  display flex
  align-items stretch
  justify-content flex-start

  .spacer
    flex 1

  .toggle-menu
    flex 0 0 auto
    margin auto
    margin-right 20px
    padding 10px 0
    display none

    .fa
      color #fff

    ul
      list-style none

      li
        display inline
        margin-right 20px

    @media (max-width: 600px)
      display block

  .view-title
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    text-align center
    margin 0
    padding 0
    color #fff
    font-weight 100
