<template name="lists">
{{#if currentUser}}

  {{> viewHeader viewTitle=viewTitle}}

  {{> viewNav active=viewId }}

  <div id="lists" class="lists-wrap">
    {{#each lists}}

      <div class="list">

        <div class="list-header">

          <div class="bar">
            <i class="fa fa-caret-down toggle-list-menu"></i>
            <h4 class="list-title">{{title}}</h4>
          </div>

          <div class="list-menu">

            <ul class="manage-list">
              <li class="rename-list"><i class="fa fa-pencil fa-fw"></i></li>
              <li class="share-list"><i class="fa fa-share-alt fa-fw"></i></li>
              <li class="archive-list"><i class="fa fa-archive fa-fw"></i></li>
              <li class="trash-list"><i class="fa fa-trash fa-fw"></i></li>
            </ul>

            <form class="add-tag" role="form">
                {{> inputAutocomplete settings=settings class="add-tag-input" name="tag" listId=_id placeholder="add a tag..."}}
            </form>

            <ul class="list-tags">
              {{#each tags _id}}
                <li><i class="fa fa-tag"></i> {{name}} <i class="fa fa-times fa-fw remove-tag" data-attached-list={{../_id}}></i></li>
              {{/each}}
            </ul>



          </div>

        </div>

        <div class="list-items-wrap">
          <div class="list-items">
            {{#each items _id}}

              <div class="item">

                <p class="item-text">
                  {{item}}
                </p>

                <form class="edit-item" role="form">
                  <input autofocus type="text" name="item" value="{{item}}" />
                </form>



                <i class="fa fa-check archive-item"></i>

              </div>

            {{/each}}
          </div>
        </div>

        {{> addItemForm}}

      </div>

    {{/each}}

  </div>

{{else}}

<div class="preloader" style="display: block; top: 0; left: 0;">
  <i class="fa fa-circle-o-notch fa-lg fa-spin"></i>
</div>

{{/if}}


</template>
