<template name="lists">
{{#if currentUser}}

  {{> viewHeader viewTitle="My Lists"}}

  <div id="lists" class="lists-wrap">
    {{#each lists}}

      <div class="list">

        <div class="list-header">

          <h4 class="list-title">{{title}}</h4>

          <i class="fa fa-bars toggle-list-menu"></i>

          <ul class="list-menu">
            <li class="rename-list"><i class="fa fa-pencil fa-fw"></i> Rename list</li>
            <li class="trash-list"><i class="fa fa-trash fa-fw"></i> Delete list</li>
          </ul>

        </div>

        <div class="list-items-wrap">
          <div class="list-items">
            {{#each items}}

              <div class="item">

                <i class="fa fa-trash trash-item"></i>
                {{item}} <small>({{createdAt}})</small>

              </div>

            {{/each}}
          </div>
        </div>

        {{> addItemForm}}

      </div>

    {{/each}}

    <li class="list add-list-wrap">{{> addListForm}}</li>

  </div>
{{else}}
  {{> notSignedIn}}
{{/if}}

</template>
