<template name="viewHeader">

  <div class="view-header">



      <div class="toggle-menu">
        <ul>
          <li class="header-menu"><img src="/img/logo.png" class="logo"></li>
          <li class="view-title">{{viewTitle}}</li>
          <li class="spacer"></li>
          <li class="header-action header-add"><i class=" fa fa-plus"></i></li>
          <li class="header-action header-search"><i class="fa fa-search"></i></li>
        </ul>
      </div>

      <div class="spacer"> </div>

  </div>

</template>
