<template name="viewNav">

  <div class="view-nav-mobile-backdrop"> </div>

  <div class="view-nav">

    <div class="mobile-menu">
      <ul class="">
        <li><i class="fa fa-plus"></i></li>
      </ul>
    </div>

    <div class="desktop-menu">

      <form class="add-list" role="form">
        <input type="text" name="title" value="" placeholder="type a new list name..." autocomplete="off" />
        <button type="submit" class="submitList"><i class="fa fa-plus"></i> <span>ADD LIST</span></button>
      </form>

      <!-- <h3 class="tags-list-title">My Tags</h3> -->
      <ul class="tags-list">
        <li><a href="/lists/all" class="tags-list-link"><i class="fa fa-home"></i> All Lists</a></li>
        {{#each activeTags}}
        <li><a href="/lists/{{slug}}" class="tags-list-link"><i class="fa fa-tag"></i> {{name}}</a></li>
        {{/each}}
        <li class="spacer"> </li>
      </ul>


      <div class="logout">
        <i class="fa fa-sign-out fa-rotate-180 fa-fw"></i> Logout
      </div>

    </div>


  </div>

</template>
