<template name="viewNav">

  <div class="view-nav">

    <div class="mobile-menu">
      <ul class="">
        <li><i class="fa fa-plus"></i></li>
      </ul>
    </div>

    <div class="desktop-menu">

      <form class="add-list" role="form">
        <input type="text" name="title" value="" placeholder="type a new list name..." autocomplete="off" />
        <button type="submit" class="submitList"><i class="fa fa-plus"></i> <span>ADD LIST</span></button>
      </form>


    </div>


  </div>

</template>
